<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style>
body {
background-color : #2e3241;
}

.topnav {
  background-color: #171717;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav img {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav h2 {
  text-align : center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

btn {
background-color : #171717;
text-decoration: none;
}


.topnav a.active {
  background-color: #464852;
  color: white;
}

button {
  background-color: #171717;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}




</style>

<div class="topnav">
<a href="/"> Home </a>
<a href="/status"> Status </a>
<img src="https://cdn.discordapp.com/avatars/804305499309998129/a_cb61d4184818f563bee750bcacdcc0e0.gif?size=256&f=.gif" alt="" width="70" height="60" class="rounded-circle"> <!-- bot avatar !-->

</div>

<center>
<img src="https://cdn.discordapp.com/avatars/804305499309998129/a_cb61d4184818f563bee750bcacdcc0e0.gif?size=256&f=.gif" class="rounded-circle"> <!-- bot avatar !-->
<br/>

<button   onClick="location.href='/invite'"> Invite </button> <button onClick="location.href='/support'"> Support </button>
</center>


  </body>
</html>
